
.text10{
    font-size: 10px !important;
}
.text12{
    font-size: 12px !important;
}
.text14{
    font-size: 14px !important;
}
.text16{
    font-size: 16px !important;
}
.text18{
    font-size: 18px !important;
}
.w-100{
    width: 100%;
}
.look-blue{
    background-color: #0775ce;
}
ion-item{
    --border-color:white !important;
}
ion-button{
    --box-shadow: none !important;
    max-width:500px;
}
ion-page{
    background-color:white !important
}
ion-header {
    background-image: none !important;
    background: white;
    /* border-bottom: 1px solid lightgray; */
}

.head{
    font-family: 'Source sans pro'
}
.pg{
    font-family: 'Roboto';
}

.top-div{
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-top: 10px !important;
    margin-top:50px !important;
}
.top-image{
    margin: auto;
    max-width: 200px;
    max-height: 150px;
}
.gray{
    color: gray;
}
.header-img{
    max-height: 30px !important;
    margin: 10px;
}
.button{
    height:60px;
    --border-radius: 20px !important;
    font-style: capitalize;
    background-color:linear-gradient(#0775ce, #1f4e7e);
    margin:auto auto !important
}
.df{
    display: flex;
}
.jcc{
    justify-content: space-between;
}
.jcm{
    justify-content: center;
}
.alm{
    align-items: center;
}

.red{
    background: red;
}
.green{
    background: green;
}
.lgray{
    background-color: lightgray;
}
.text-gray{
    color: gray;
}
.vcp__body{
    min-height: fit-content !important;
    height: 100% !important;
}
.vcp__header-icon{
    all: unset;
    display: none !important;
}
.action-sheet-group.action-sheet-group-cancel.sc-ion-action-sheet-md {
    display: none !important;
}
.alert-button-role-cancel {
    color:red !important;
}
textarea {
    min-height: 150px !important;
    /* padding-top: 50px !important; */
}
textarea::placeholder{
    line-height:120px;
    transform: translateY(-10px);
}
.textarea-wrapper{
    display: flex !important;
    width:100%; 
    max-height:20px;
    align-items: center !important;
}


@font-face {
    font-family: 'Century Gothic';
    src: url('../../public/assets/font/GOTHIC.TTF');
}

@font-face {
    font-family: 'Bodoni MT';
    src: url('../../public/assets/font/BOD_R.TTF');
}